// Grid
$hwidth: 1200px;
$width: 1010px;

// Colors
$primary: #401401;
$black: #0a0c0a;
$white: #ffffff;

// Fonts
$fs: 16;

// Media Queries
$phone: 440px;
$ipad: 768px;
$desktop: 980px;
$large: 1400px;